* text eol=lf

/.github export-ignore
/build export-ignore
/examples export-ignore
/tests export-ignore

.editorconfig export-ignore
.env.dist export-ignore
.gitattributes export-ignore
.gitignore export-ignore

CHANGELOG.md export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SUPPORT.md export-ignore

composer.lock export-ignore
docker-compose.yml export-ignore
docker-compose.examples.yml export-ignore
Makefile export-ignore
phpcs.xml export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
