parameters:
    bootstrapFiles:
        - vendor/autoload.php
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
        - '#^Property WoohooLabs\\Yin\\JsonApi\\Schema\\Resource\\AbstractResource::\$request \(WoohooLabs\\Yin\\JsonApi\\Request\\JsonApiRequestInterface\) does not accept null\.$#'
        - '#^Property WoohooLabs\\Yin\\JsonApi\\Schema\\Resource\\AbstractResource::\$exceptionFactory \(WoohooLabs\\Yin\\JsonApi\\Exception\\ExceptionFactoryInterface\) does not accept null\.$#'
        - '#^Method WoohooLabs\\Yin\\JsonApi\\Request\\JsonApiRequest::.* should return array<string> but returns array<int, int|string>\.$#'
        - '#^Dynamic call to static method PHPUnit\\Framework\\.*$#'

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
